.ldio-p234v7wrd8b-st0 {
  opacity: 0.8;
  fill: none;
  stroke-width: 0.4811;
  stroke-miterlimit: 10;
}
.ldio-p234v7wrd8b-st2 {
  opacity: 0.8;
}
.ldio-p234v7wrd8b-st3 {
  fill: none;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.ldio-p234v7wrd8b-st4 {
  fill: none;
  stroke-width: 0.4694;
  stroke-miterlimit: 10;
}
